@font-face {
  font-family: 'Chopsic';
  src: url('./fonts/Chopsic.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Coolvetica';
  src: url('./fonts/Coolvetica.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'RachelBrown';
  src: url('./fonts/RachelBrown.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'KGRedHands';
  src: url('./fonts/KGRedHands.ttf');
  font-weight: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, KGRedHands !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.title{
  color:#fff;
  text-transform: uppercase;
  padding: 20px 0;
}

.draw-label{
  color:#fff;
  font-size:30px;
  margin:10px 0;
}

.draw-element{
  font-weight: normal;
}

.draw-button{
  border: none;
  background-color: #54ACFF;
  padding: 0 50px;
  color:#fff;
  border-radius: 10px;
  margin: 0 10px;
}

.draw-start{
  border: none;
  width: 76px;
  height: 76px;
  background-color: #FF8300;
  color:#fff;
  margin: 20px 12px;
  font-size:14px;
  text-align: center;
  border-radius: 50%;
}


.draw-file{
  width: 76px;
  height: 76px;
  margin: 20px 12px;
  border-radius: 50%;
  background-color: #FF8300;
  color:#fff;
  font-size: 14px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.draw-button:hover{
  background-color: #357fc4;
}

.temp-result{
  font-size:50px;
  color: #fff;
}

.footer{
  height:46;
  position:fixed;
  width: 100%;
  bottom: 0;
  font-size:14px;
  text-align: center;
  color: #fff;
  padding: 12px 0;
}